body {
  font-family: "Lato", sans-serif;
  /* background: linear-gradient(to bottom, #061627, #0f325a, #134175); */
  /* background-color: #134175; */
  background-size: cover;
}

.bg-boxshadow {
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}
